<!-- signup.component.html -->
<div class="signup-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>Create an Account</h2>
  
      <div *ngIf="error" class="error">{{ error }}</div>
  
      <label>
        Name
        <input type="text" formControlName="name" />
      </label>
  
      <label>
        Email
        <input type="email" formControlName="email" />
      </label>
  
      <label>
        Password
        <input type="password" formControlName="password" />
      </label>
  
      <label>
        Confirm Password
        <input type="password" formControlName="password_confirmation" />
      </label>
  
      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </div>
  